@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  background: #b1d676; }

.calculator {
  background: #16253d;
  padding: 0;
  margin: 0;
  width: 100%; }
  .calculator__display {
    border: none;
    padding-top: 140px;
    padding-right: 1px;
    margin: 0;
    background: #16253d;
    width: 100%;
    color: #f9f9f9;
    text-align: end;
    font-size: 50px;
    height: 200px;
    font-family: "Nunito", sans-serif;
    font-weight: 400; }

.calculator-keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 2px;
  row-gap: 2px; }
  .calculator-keys__button {
    justify-self: stretch;
    align-self: stretch;
    cursor: pointer;
    color: #16253d;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    padding: 30px;
    margin: 0;
    background: #d8d8d6;
    border: none;
    outline: none;
    transition: 0.1s linear; }
    .calculator-keys__button:active {
      background: #272729;
      color: #d8d8d6;
      transform: scale(0.9); }
    .calculator-keys__button--operator {
      background: #a0b3c1; }
      .calculator-keys__button--operator:active {
        color: #d8d8d6;
        background: #5f4c3e; }
      .calculator-keys__button--operator:focus {
        color: #d8d8d6;
        background: #5f4c3e; }
    .calculator-keys__button--reset {
      background: #80c6d6; }
      .calculator-keys__button--reset:active {
        color: #d8d8d6;
        background: #7f3929; }
    .calculator-keys__button--equal {
      width: 100%;
      background: #b1d676;
      grid-column: 1 /5; }
      .calculator-keys__button--equal:active {
        color: #d8d8d6;
        background: #4e2989; }
