// @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}

//calculator style
.calcApp {
  background: #16253D;
  padding: 0;
  margin: 0;
  max-width: 320px;
  max-height: 720px;
  &__resultWindow {
    border: none;
    padding-top: 140px;
    padding-right: 1px;
    margin: 0;
    background:#16253D;
    width: 100%;
    color: #F9F9F9;
    text-align: end;
    font-size: 50px;
    height: 200px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
  }
}

.calcApp-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 2px;
  row-gap: 2px;
  &__button {
    color: #16253D;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    width: 78px;
    height: 78px;
    font-size: 20px;
    text-align: center;
    padding: 0;
    margin: 0;
    background: #D8D8D6;
    border: none;
    &--counter {
      background: #A0B3C1;
    }
    &--reset {
      background: #80C6D6;
    }
  }
}
